:root {
    --gray001: #F6F9FC;
    --gray002: #ECECEC;
    --black001: #101010;
    --purple001: #8E59FF;
    --magenta001: #FF5091;
    --redish001: #E03071;
    --redish002: #EC3F3F;
    --space20: 20px;
}